{% extends "vega_admin/badmin/base.html" %}
{% load i18n crispy_forms_tags %}

{% block extrahead %}
	{{form.media.css}}
{% endblock %}

{% block title %}{% trans "Update" %} {{ vega_verbose_name }}: {{vega_object_title}}{% endblock %}

{% block main_content %}
    <div class="section-title-wrapper style-1 v1">
        <h3 class="section-title left">{% trans "Update" %}: {{vega_object_title}}</h3>
    </div>
    <div>{% crispy form %}</div>
{% endblock %}

{% block footerjs %}
	{{form.media.js}}
{% endblock %}
